<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | Cody Wimbert Portfolio</title>

  <!-- FAVICON -->
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">

  <!-- Optional SEO -->
  <meta name="description" content="IT and Security Operations Portfolio - Network Specialist, CCNA certified.">

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

  {{ content }}

</body>
</html>
